
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    @using (Html.BeginForm("Login","Home",FormMethod.Post))
    {
        <div style="color:red">
            @Html.ValidationSummary(true)
        </div>
        @Html.Label("Nome")
        @Html.TextBox("login")
        <br />
        @Html.Label("Senha")
        @Html.Password("senha")
        <br />
        <input type="submit" value="Logar" />
    }
</div>